@model NETCKTEAM30.Models.ChiTietHd

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ChiTietHd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChiTietHdID" />
            <div class="form-group">
                <label asp-for="HoaDonID" class="control-label"></label>
                <select asp-for="HoaDonID" class="form-control" asp-items="ViewBag.HoaDonID"></select>
                <span asp-validation-for="HoaDonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangHoaID" class="control-label"></label>
                <select asp-for="HangHoaID" class="form-control" asp-items="ViewBag.HangHoaID"></select>
                <span asp-validation-for="HangHoaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

